{
  "env": {
    "node": true,
    "es2021": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {},
      "node": {
        "extensions": [".js", ".ts"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "rules": {
    // javascript
    "semi": 0,
    "camelcase": 1,
    "no-plusplus": "warn",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "no-param-reassign": [2, { "props": false }],
    "object-curly-newline": "off",
    "no-unused-vars": 1,

    // imports
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "ts": "never",
      }
    ],
    // prettier
    "prettier/prettier": [
      "error",
      {
        "semi": false,
        "singleQuote": true,
        "trailingComma": "all",
        "printWidth": 100,
        "tabWidth": 2,
        "tabs": false
      }
    ]
  }
}